* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}
.container:before,
.container:after {
	display: block;
	content: "";
	clear: both;
}
.centered-p {
	width: 55%;
	margin: 15px auto 0 auto;
	font-size: 12.5px;
	line-height: 1.7;
}

/*HEADER SECTION*/
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #fff;
}
.header img {
	max-width: 240px;
	padding: 8px 0 0 96px;
}
.header li {
	display: inline;
	padding:0 45px 20px 0;
	font-size: 13.5px;
}
.header ul {
	position: absolute;
	display: inline;
	right: 320;
	top: 4%;
}
.header a{
	text-decoration: none;
}
.header .nav {
	color: #232323;
	font-weight: 600;
}
.header .drop-style {
	display: block;
	color: #fdfdfd;
	font-size: 12px;
	padding: 5px 0;
}
.drop-style:hover {
	color: #fff200;
}
.drop-style:hover::before {
	content: '>';
}
.nav:hover {
	font-weight: bold;
	letter-spacing: -0.25px;
}
.dropdown, .dropdown-second {
	position: relative;
	display: inline-block;
}
.dropdown-content, .dropdown-content-second {
	display: none;
	position: absolute;
	background: rgba(44, 30, 65, 0.6);
	text-align: left;
	margin-top: 20px;
	padding: 20px 20px;
	min-width: 155px;
	border-top: 2px solid #fff200;
	z-index: 1;
}
.dropdown-content-second {
	top: -10;
	left: 135;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-second:hover .dropdown-content-second {
	display: block;
}
.header input {
	position: absolute;
	top: 28%;
	right: 175;
	width: 155px;
	height: 27px;
	border: none;
	background-color: #e8e4f1;
}
.header:active input {
	z-index: 1;
}
.header i {
	font-size: 12px;
	color: #5f5f60;
	position: absolute;
	right: 198;
	top: 40%;
}

/*HOME*/
.home {
	background: url("../images/section1.jpg") no-repeat center;
	background-size: cover;
	margin-top: 60px;
	height: 650px;
	text-align: center;
}
.home h1 {
	width: 70%;
	margin: 0 auto;
	padding-top: 240px;
	color: #fff;
	font-size: 55px;
	letter-spacing: 3px;
	font-weight: 600;
}
.home .yellow-text {
	color: #fff200;
}
.home p {
	color: #fff;
}

/* WHO CHOOSE US*/
.who-choose-us {
	padding: 100px 0;
	text-align: center;
}
.who-choose-us h2 {
	margin: 0;
	font-size: 32px;
	color: #232323;
}
.blue-text {
	color: #009dda
}
.who-choose-us p {
	color: #999999;
	font-size: 13px;
}
.who-choose-us .flex-container {
	display: -webkit-flex;
	display: flex;
	margin: 70px auto 0 auto;
	width: 85%;
	height: 230px;
	align-items: center;
	justify-content: center;
}
.who-choose-us .flex-item {
	position: relative;
	border: 1px solid #ebebeb;
	width: 170px;
	height: 100%;
	margin: 15px;
}
.flex-container .fa-heart-o, .fa-commenting-o, .fa-laptop, .fa-star-o, .fa-flag-o {
	padding: 25px;
	font-size: 52px;
	color: #503392;
}
.flex-container h6 {
	margin: 15px auto;
	font-size: 13px;
	font-weight: bold;
}
.flex-container p {
	margin: 15 auto;
	width: 85%;
	height: 50px;
	font-size: 12.5px;
	overflow: hidden;
	text-overflow: clip;
}
.flex-item .hover-see-more {
	position: absolute;
	display: none;
	width: 100%;
	height: 55%;
	background-color: #503392;
	color: #fff;
	bottom: 0;
	z-index: 1;
}
.flex-item:hover .hover-see-more {
	display: block;
}
.hover-see-more h6 {
	font-weight: 600;
}
.hover-see-more .fa-link, .fa-search-plus {
	border-radius: 30px;
	padding: 8px;
	margin: 15px 5px 0 5px;
	font-size: 12px;
}
.hover-see-more .fa-link {
	border: 1px  solid #fff;
	color: #fff;
}
.hover-see-more .fa-search-plus {
	background-color: #fff;
	border: 1px  solid #503392;
	color: #503392;
}

/*ABOUS US*/
.about-us {
	border-top: 1px solid lightgrey;
	padding: 65px 0;
}
.about-us .about-desc {
	margin-left: 100px;
	padding: 0;
}
.about-us h2 {
	font-size: 31px;
	color: #373737;
	margin-bottom: 17px;
}
.about-us .silver-p {
	color: #999999;
	margin-bottom: 35px;
}
.about-us p {
	color: #373737;
	font-size: 11.4px;
	line-height: 1.8;
	font-weight: 600;
}
.animation {
	display: flex;
}
.about-us img {
	width: 320px;
	float: right;
	margin: 80px 100px 0 0;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}